<main class="flex items-center justify-center h-screen bg-gray-100">
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="bg-white w-96 p-6 rounded drop-shadow-white">
      <div class="flex items-center justify-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </div>
      <h1 class="text-4xl text-center text-gray-700 font-bold mb-4">{{'lets_sign_in' | translate | titlecase}}!</h1>
      <div
        class="bg-red-500 px-3 py-2 rounded text-gray-100 mb-3 transition-opacity"
        *ngIf="errorMessage"
      >
        {{errorMessage}}
      </div>
      <label class="text-gray-700" for="email">
        Email
      </label>
      <input
        id="email"
        class="w-full py-2 bg-gray-50 text-gray-500 px-1 outline-none mb-4"
        type="email"
        placeholder="example@domain.com"
        [(ngModel)]="formModel['email']"
        name="email"
      />
      <label class="text-gray-700" for="password">{{"password" | translate | titlecase}}</label>
      <input
        id="password"
        class="w-full py-2 bg-gray-50 text-gray-500 px-1 outline-none mb-4"
        type="password"
        placeholder="********"
        [(ngModel)]="formModel['password']"
        name="password"
      />
      <button
        type="submit"
        class="bg-indigo-600 w-full text-gray-100 py-2 rounded hover:bg-indigo-700 transition-colors">{{"sign_in" | translate | titlecase}}</button>
    </div>
  </form>
</main>
